.container {
    border:2px solid white;
    box-shadow: 2px 3px 3px black;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content: space-between;
 
  
}


.buttons {

}