.list-container{
   border:2px solid blue;
   display:flex;
   flex-direction: row;
   height:70vh;
}
.container {
  
   width:30%;
 
}
 ul{
   border:2px solid white;
   box-shadow: 2px 3px 3px black;
   width:70%;
   padding:2%;
}
ul li{
   list-style: none;
}